*{
  padding: 0px;

}
button{
  background-color: #012862;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  font-family: "Inder", sans-serif;
  font-size: 25px;
}
