*{
    padding: 10px;
    background-color: black;
}
.voltar{
    height: 50px;
    width: 60px;
}
.produtos_decima{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}
.produtos_debaixo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}